body {
    font-family: Courier New, monospace;
    font-size: 1em;
    display: flex;
    height: 90vh;
    justify-content: center;
    background-color: #011b40;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  img {
    width: 200px;
    border: 3px solid transparent;
    border-radius: 10px;
  }

  .landing {
    align-self: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  
  .landing__header {
    display: flex;
    justify-content: center;
  }
  
  .overview {
    display: flex;
  }
  
  .overview__item {
    object-fit: scale-down;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: default;
  }
  
  .overview__item--disabled img {
    cursor: default !important;
    border: 3px solid transparent !important;
  }
  
  .overview__item img:hover {
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .view {
    padding-top: 30px;
  }
  
  .view__item {
    text-align: center;
  }
  
  .view__item img {
    width: 300px;
  }
  
  .view__description {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-wrap: break-word;
    inline-size: 30vw;
  }
  
  .btn {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    color: #0e0e10;
    background: #0000000d;
    padding: 0 10px;
  }
  
  @media screen and (max-width: 1199px) {
    .landing {
      align-self: start;
    }
  
    .overview {
      padding-top: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
